{
  "plugins": [
	"@typescript-eslint"
  ],
  "extends": [
	"eslint:recommended",
	"plugin:@typescript-eslint/recommended"
  ],
  "rules": {
	"semi": [
	  "warn"
	],
	"@typescript-eslint/no-inferrable-types": ["off"], // TODO.
	"@typescript-eslint/no-explicit-any": ["off"] // TODO.
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
	"sourceType": "module",
	"project": "./tsconfig.json"
  },
  "ignorePatterns": [
	"**/*.d.ts",
	"**/*.js",
	"**/*.js.map"
  ],
  "overrides": [
	{
	  "files": [ // TODO.
		"**/*.test.ts",
		"test/**/*.ts"
	  ],
	  "rules": {
		"@typescript-eslint/explicit-function-return-type": "off"
	  }
	}
  ]
}
